#xkit-separator-line {
	border-top: 1px dotted rgba(0, 0, 0, 0.33);
	border-bottom: 1px dotted rgba(255, 255, 255, 0.23);
	margin: 0 0 20px;
}

#xkit-separator-line.xkit-separator-bold-line {
	border-top: 3px solid rgba(255, 255, 255, 0.33);
	border-bottom: none;
}

#xkit-separator-controls > li.item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

#xkit-separator-controls > li.item > a {
	color: rgba(255, 255, 255, 0.6);
	display: block;
	padding: 0 10px;
	line-height: 36px;
	font-weight: 700;
}
